src/build/
Examples/Holiday/build/
Examples/NativeCal/build/


Examples/Holiday/Holiday.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Examples/Holiday/Holiday.xcodeproj/project.xcworkspace/xcuserdata/Mark.xcuserdatad/UserInterfaceState.xcuserstate
